.time-info {
    color: antiquewhite;
    font-size: 22px;
}

.front-end {
    

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin: 0;
}

    h3 {
        text-align: center;
        color: white;
        font-size: 50px;
        margin: 0;
    }

    
}