

.container-4{
    display: flex;
  
  }
  
  .input-container-4 {
    display: flex;
    flex-direction: column;
  }
  
  .input-group-4 {
    margin-bottom: 10px; /* Agrega espacio entre los grupos de entrada */
  }