// .inputT {
//     width: 33px;
//     height: 33px;
//     border-radius: 50%;
//     line-height: 10px;
//     text-align: center;
//     padding-left: 5px;
//     margin-left: 10px;
// }

// .resultT {
//     display: block;
//     margin: 20px auto; 
//     padding: 10px;
//     background-color: #4caf50;
//     color: white;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }

.container-4{
    display: flex;
  
  }
  
  .input-container-4 {
    display: flex;
    flex-direction: column;
  }
  
  .input-group-4 {
    margin-bottom: 10px; /* Agrega espacio entre los grupos de entrada */
  }