.input-container {
    label {
        font-size: 28px;
        color: aliceblue;
    }

    button {
       
        margin-left: 10px;
        border-radius: 22px;
        cursor: pointer;
    }
}

.result {
    font-size: 22px;
    color: white;
}

.displayImg {
    display: flex;
}