// styles.scss

.btn-language {
    text-align: center;
    margin-top: 20px;
  
    button {
      margin: 5px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:hover {
        background-color: #45a049;
      }
    }


    p {
        font-size: 17px;
        color: white;
    }
  
  }
  
  .hidden {
    display: none;
  }
  
.result-yes {
    color: green;
  }
  
  .result-no {
    color: red;
  }
  