.inputT {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    line-height: 10px;
    text-align: center;
    padding-left: 5px;
    margin-left: 10px;
}

.resultT {
    display: block;
    margin: 20px auto;  /* Esto centrará el botón en el eje horizontal */
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
  }

 