
  .align-right{
    display: flex;
    justify-content: flex-end;

  .close-button {
    font-size: 13px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer; 
    border: none;
    padding: 0;
  }
  
  }