.level-container {
  
    .links {
      display: flex;
      justify-content: space-between;
      font-size: 43px;
      padding-top: 10px;
    }
  
    h2 {
      color: #f1ecec;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 20px;
      text-align: center;
      margin: auto;
    }
  
    ul {
      
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin-bottom: 10px;
        color: white;
  
        &:last-child {
          margin-bottom: 0;
        }
  
        span {
          font-weight: bold;
          margin-right: 5px;
          color: #ccc;
          font-size: 33px;
        }
      }
    }
  }
  
  .text-center {
    text-align: center;
    font-size: 25px;
    color: antiquewhite;
  }
  
  .displayImg {
   
  
    p {
      font-size: 20px;
      padding-left: 22px;
      color: white;
    }
  }
  
  .max {
    padding-bottom: 33px;
  }
  
  .eye {
    height: 44px;
    cursor: pointer;
  }
  

  .level-container {
    max-width: 80%;
    margin: 0 auto;
  
    .links {
      display: flex;
      justify-content: space-between;
      font-size: 43px;
      padding-top: 10px;
      
    }
  
    h2 {
      color: #f1ecec;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 20px;
      text-align: center;
      margin: auto;
    }
  
    ul {
      list-style: none;
      padding: 0;
     
  
      li {
        margin-bottom: 10px;
  
        &:last-child {
          margin-bottom: 0;
        }
  
        span {
          font-weight: bold;
          margin-right: 5px;
          color: #ccc;
          font-size: 33px;
        }
      }
    }
  
    .text-center {
      text-align: center;
      font-size: 25px;
      color: antiquewhite;
    }
    .Slider {
      position: absolute;
      top: 10%;
      left: 50%; 
      transform: translateX(-50%); 
      width: 50vw;  
    height: 50vh; 
      img {
        width: 100%; 
        height: 100%;  
        object-fit: cover;  
      }
    }
  }
  

  /// this one It been change cause I could't use the imput 
  .Slider2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 50vh;
    visibility: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .Slider2.visible {
    visibility: visible;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p {
      font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
      color: #ffcb05;
      text-align: center;
      background-color:#1f1e1c;
      padding: 3px; /* Ajusta el relleno según tus preferencias */
      border-bottom: 2px solid PowderBlue; /* Borde solo en la parte inferior */
      border-radius: 0 0 20px 20px; /* Bordes redondeados solo en la parte inferior */
      margin: 0;
      margin-left: 222px;
      margin-right: 222px;
    }
  }
  


  // .resultShow{
  //   color: rgb(214, 18, 18);
  //   font-size:35px;
  // }
