.input-shop {
 
  text-align: center;
}


.food {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin: 5px;  
  }
}

.center {
  display: block;
  margin: 20px auto; 
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
}

.ul-shop {
  display: flex;
 
  justify-content: center;
  list-style: none;  

  li {
    margin: 0 10px;  
    display: inline-block;
  }

  color: white;
  font-size: 22px;
  font-weight: bold;
}


.list-shop {
  color: white;
  text-align: center;
  font-size: 22px;
}

.img-coming {
  max-width: 80vh;
  
}

.buttonD {
  &.dark-single {
      --background: none;
      --rectangle: #242836;
      --success: #4BC793;
  }
  &.white-single {
      --background: none;
      --rectangle: #F5F9FF;
      --arrow: #275efe;
      --success: #275efe;
      --shadow: rgba(10, 22, 50, .1);
  }
  &.dark {
      --background: #242836;
      --rectangle: #1C212E;
      --arrow: #F5F9FF;
      --text: #F5F9FF;
      --success: #2F3545;
  }
}

.just-one {
  display: flex;
  justify-content: center;
  align-items: center;
 
}